body {
  padding: 0;
  margin: 20px;
}

.postWrapper {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.post {
  margin-top: 50px;
}

img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

div {
  padding: 0 1rem;
}

.add-comment {
  margin: 1rem 0;
}

.single-comment {
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  min-height: 3.5rem;
  padding: 0 0.35rem;
  margin-bottom: 0.75rem;
}

.date {
  font-size: 0.75rem;
  margin: 5px 0;
}

.comment-text {
  margin: 0;
  font-size: 1.25rem;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
}
